.field-error{
    font-size: 10pt;
    color: #FF0000;
}
.user-avatar{
	border-radius: 99em;
	background-image: url(./up.jpg);
	background-position: center;
	background-size: contain;
	margin-right: 5px;
	width:50px;
	height:50px;
}
.author{
	font-size: 10pt;
}
.comment-content{
	font-size: 10pt;
}
.title{
    color: #FFF;
    font-size: 20pt;
    font-family: 'serif';
}
.topbar{
    padding: 5px;
    z-index: 5;
    width: 100%;
    position: fixed;
    height: 50px;
    background-color: #007bff;
}
.footer-nav{
    height: 35px;
    padding: 5px;
    bottom: 0;
    z-index: 5;
    width: 100%;
    position: fixed;
    background-color: #007bff;
    font-size: 18pt;
}
.active-place{
    color: #444;
}
.hidden_link{
    color: #FFF;
}
.delete-pic{
    position: absolute;
    right: 4;
    margin-top: 3px;
}
.picture{
    width: auto !important;
    max-width: 300px;
    max-height: 300px;
}
